.agree-content p{
    text-align: justify;
}

.mobile-label{
    display: none
}

@media only screen and (max-width: 600px) {
    /* .button-label{
        display: none
    } */

    /* .mobile-label{
        display: inline-block;
    } */

    .btn{
        width: 100%
    }

}