
<div class="agree-content">
  <h4> <b> Online Permits </b> </h4>

  <p> 
    <b>
      Terms of Use Agreement
    </b>
  </p>

  <p>
      The City of Cambridge maintains this website as a service to members of the public for the purpose of providing on-line information about building application status within the City of Cambridge. By using this site, you are agreeing to comply with, and be bound by, the following terms of use. 
      <a href="">
        Please review the following terms carefully.
      </a> 
  </p>
   
  <div class="agree-button text-center">
    <span class="mr-5"> 
      <input type="radio" [(ngModel)] = "agree" [value]="true" (input) ="btnShow = true"><b> I Agree</b>
    </span>
    <span> 
        <input type="radio" [(ngModel)] = "agree" [value]="false" (input) ="btnShow = false"><b> I Disagree</b>
      </span>
  </div>

  <div class="button-panel" *ngIf = "btnShow == true">
    <button class="btn btn-primary btn-sm float-right">
      <a routerLink="search-properties" > CONTINUE</a>
    </button>
  </div>




</div>

