
<div class="agree-content">
  <h5 class="mb-2"> <b> Online Permits </b> </h5>
  <h5 class="mb-2"> <b> Terms of Use Agreement </b>  </h5>
      The City of Cambridge maintains this website as a service to members of the public for the purpose of providing on-line information about building application status within the City of Cambridge. By using this site, you are agreeing to comply with, and be bound by, the following terms of use. 
      <a href="">
        Please review the following terms carefully.
      </a> 
   
  <div class="agree-button text-center mt-3">
    <span class="mr-5">     
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" [(ngModel)] = "agree" [value]="true" (input) ="btnShow = true">
        <label class="form-check-label">
          <b> I Agree</b>
        </label>
      </div>
    </span>
    <span> 
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" [(ngModel)] = "agree" [value]="false" (input) ="btnShow = false">
        <label class="form-check-label">
          <b> I Disagree</b>
        </label>
      </div>
    </span>

    <div class="button-panel mt-3" *ngIf = "btnShow == true">
      <button class="btn btn-primary btn-sm ripple float-right mr-2" (click)=localStorageDataRemove()>
        <!-- <span class="mobile-label"><i class="fas fa-arrow-right"></i></span> -->
        <span class="button-label">Countinue</span>
      </button>
    </div>
  </div>

</div>

