<div class="navbar-container">
  <div class="header-bg">
      <div class="row">
        <div class="offset-6 col-6">
          <div>
            <span> FEEDBACK</span>
            <span> TRANSLATE</span>
          </div>
        </div>
      </div>
    </div>
  <nav class="navbar navbar-expand-lg navbar-light col-md-9 offset-md-3  ">
    <a class="navbar-brand" href="#">
     
      <img class="img-responsive" src="../../assets/logo.png" alt="citizen-portal" style="height:50px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let nav of navs" style="width:100px ; font-size: 10px">
          <a class="navbar-nav-link text-center" href="#">{{nav.text}} </a>        
        </li>
      </ul>
    </div>
  </nav>
</div>