.mat-row:nth-child(odd) {
  background-color:#eee;
}
.mat-row:nth-child(even) {
  background-color:#fff;
}

mat-cell:first-of-type{
  padding-left: 5px !important
}
mat-cell:last-of-type{
  padding-right: 5px !important
}

.type-sub-work-Bg p{
  /* border: 1px solid #DFDFDF;  */
  /* padding: 1px;  */
  border-radius:2px; 
  /* margin-right: 10px;
  margin-top: 2px; */
}
.type-sub-work-Bg{
  width: 90% !important;
}

.type-sub-work-Bg:last-child{
  margin-bottom: 2px;
}

.header-name-type{
  color: green
}
.row-name-type{
  background: #A5D6A7;
  /* color: white; */
  padding: 1px 2px;
}
.header-name-sub{
  color: blue
}

.row-name-sub{
  background: #90CAF9;
  /* color: white; */
  padding: 1px 2px;
}
.header-name-work{
  color: goldenrod
}

.row-name-work{
  background: #FFF59D;
  /* color: white; */
  padding: 1px 2px;
}

.type-sub-work-Bg .row-name-sub{
  margin-left: 10px !important;
}
.type-sub-work-Bg .row-name-work{
  margin-left: 15px !important
}

/* .example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
} */
.mat-table {
  overflow: auto;
  /* max-height: 500px; */
}

.mobile-label, .button-mobile-label {
  display: none;
}
.width-14{
  width: 12%
}
 @media(max-width: 768px) {
  .mobile-label {
    width: 20px;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    margin-right: 5px;
  }
  .mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 5px 5px;
    min-height: auto !important;
    border-style: solid !important;
}
  .mat-header-row {
    display: none;
  }

  .width-14{
    width: 100% !important;
  }

  .result-table [class*="col-"] {
    padding: 0px ;
  }

  .type-sub-work-Bg{
    width: 100% !important;
  }
  [class*="col-"] {
    width: 100% !important
  }
} 

@media(max-width: 600px) {
  .mobile-label {
    width: 20px;
    display: inline-block;
    font-weight: bold;
  }
   .button-label{
    display: none
  }
  .button-mobile-label{
    display: inline;
  }
  .mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 5px 5px;
    min-height: auto !important;
    border-style: solid !important;
}
  .mat-header-row {
    display: none;
  }

  .width-14{
    width: 100% !important;
  }

  .result-table [class*="col-"] {
    padding: 0px ;
  }

  .type-sub-work-Bg{
    width: 100% !important;
  }
}
