<div class="card-header mb-2">
    <h5 class="">
        Form Designer
        <div class="float-right">
            <button type="button" class="btn btn-success float-right ml-3" (click)="saveForm()">Save</button>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle (click)="preview=true">Preview</mat-button-toggle>
                <mat-button-toggle (click)="preview=false">Edit</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </h5>
</div>
<div class="row p-2" cdkDropListGroup *ngIf="preview == false">
    <div class=" col-2 border-right control-list-bg">
        <div class="control-list-header">Tool Box</div>
        <div cdkDropList
             [cdkDropListData]="copyControlList"
             class="control-list mat-elevation-z1"
             (cdkDropListDropped)="drop($event)">
            <div class="example-box mat-elevation-z1" *ngFor="let item of copyControlList" cdkDrag>
                {{item.controlName}}
            </div>
        </div>
    </div>
    <div class="col-6 border-right">
        <div style="height: 500px; overflow-y:auto">
            <div class="mb-3" *ngFor="let tab of formData.tabList; let i = index">
                <div class="">
                    <div class="card-header mb-3">
                        <mat-expansion-panel class="mat-elevation-z0">
                            <mat-expansion-panel-header [collapsedHeight]="'30px'" (click)="getItem(tab)">
                                <mat-panel-title>
                                    <div>
                                        <b>	{{tab.tabName}} </b>
                                        <small class="hints" *ngIf='tab.tabName == "" '>
                                            <strong>Enter Tab Details </strong>
                                        </small>
                                    </div>
                                </mat-panel-title>
                                <div class="mr-5 ripple" (click)="deleteTab(i)">
                                    <small> <strong><i class="fa fa-trash"></i> Delete Tab</strong></small>
                                </div>
                            </mat-expansion-panel-header>
                            <div cdkDropList
                                 [cdkDropListData]=tab.controlList
                                 class="drop-list"
                                 (cdkDropListDropped)="drop($event)">

                                <div *ngFor='let control of tab.controlList; let i = index' cdkDrag>

                                    <div class="row" [class.active]="control === item" (click)="getControl(control, tab, i)">

                                            <div *ngIf="control.controlType == 'checkbox'" class="col-12">
                                                <span class="mr-5">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" [(ngModel)]='control.selectedValue' type="checkbox">
                                                        <label class="form-check-label">
                                                            <span *ngIf="control.isRequired === true; else notRequired " class="required">{{control.label}}</span>
                                                            <ng-template #notRequired>{{control.label}}</ng-template>
                                                        </label>
                                                    </div>
                                                </span>
                                            </div>
                                            <div *ngIf="control.controlType == 'radiobutton'" class="col-12">
                                                <div class="col-12 col-md-12 ">
                                                    <label class="form-check-label">
                                                        <span *ngIf="control.isRequired === true; else notRequired " class="required">{{control.label}}</span>
                                                        <ng-template #notRequired>{{control.label}}</ng-template>
                                                    </label>
                                                </div>
                                                <span *ngIf='control.options.length === 0'>
                                                    <span class="mr-5">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" name="demo radio" type="radio">
                                                            <label class="form-check-label">
                                                                Radio Button
                                                            </label>
                                                        </div>
                                                    </span>
                                                </span>

                                                <span *ngIf='control.options.length > 0'>
                                                    <span class="col-12 col-md-12 ">
                                                        <span *ngFor='let option of control.options'>
                                                            <span class="mr-5">
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" [name]=control.label type="radio" [(ngModel)]="control.selectedValue" [value]="option.value">
                                                                    <label class="form-check-label">
                                                                        {{option.text}}
                                                                    </label>
                                                                </div>
                                                            </span>
                                                        </span>
                                                        <mat-hint style="color:red;font-size: 75%" *ngIf="control.hasError" align="start">{{control.errorText}}</mat-hint>
                                                    </span>

                                                </span>
                                            </div>

                                            <div *ngIf="control.controlType == 'radiobuttonOnChange'" class="col-12">
                                                <div class="col-12 col-md-12 ">
                                                    <label class="form-check-label">
                                                        <span *ngIf="control.isRequired === true; else notRequired " class="required">{{control.label}}</span>
                                                        <ng-template #notRequired>{{control.label}}</ng-template>
                                                    </label>
                                                </div>
                                                <span *ngIf='control.options.length === 0'>
                                                    <span class="mr-5">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" name="demo radio" type="radio">
                                                            <label class="form-check-label">
                                                                Radio Button
                                                            </label>
                                                        </div>
                                                    </span>
                                                </span>

                                                <span *ngIf='control.options.length > 0'>
                                                    <span class="col-12 col-md-12 ">
                                                        <span *ngFor='let option of control.options'>
                                                            <span class="mr-5">
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" [name]=control.label type="radio" [(ngModel)]="control.selectedValue" [value]="option.value">
                                                                    <label class="form-check-label">
                                                                        {{option.text}}
                                                                    </label>
                                                                </div>
                                                            </span>
                                                        </span>
                                                        <mat-hint style="color:red;font-size: 75%" *ngIf="control.hasError" align="start">{{control.errorText}}</mat-hint>
                                                    </span>

                                                </span>
                                            </div>

                                        <div *ngIf="control.controlType =='autoComplete'" class="col-12">
                                            <div class="col-12 col-md-5">
                                                <label class="form-check-label">
                                                    <span *ngIf="control.isRequired === true; else notRequired " class="required">{{control.label}}</span>
                                                    <ng-template #notRequired>{{control.label}}</ng-template>
                                                </label>
                                            </div>

                                            <div class="col-12 col-md-7 ">
                                                <mat-form-field class="full-width" appearance="outline">

                                                    <mat-label>{{control.placeholderText}}</mat-label>
                                                    <input matInput [(ngModel)]=control.selectedValue type="text">
                                                    <mat-hint style="color:red" *ngIf="control.hasError" align="start">{{control.errorText}}</mat-hint>
                                                </mat-form-field>
                                            </div>

                                        </div>
                                        <div *ngIf="control.controlType == 'select'" class="col-12">
                                            <div class="col-12 col-md-5">
                                                <label class="form-check-label">
                                                    <span *ngIf="control.isRequired === true; else notRequired " class="required">{{control.label}}</span>
                                                    <ng-template #notRequired>{{control.label}}</ng-template>
                                                </label>
                                            </div>

                                            <div class="col-12 col-md-7 ">
                                                <select name="" id="" class="form-control" [(ngModel)]=control.selectedValue (change)="getChildList(form)">
                                                    <option *ngFor='let option of control.options' [value]=option.value>{{option.text}}</option>
                                                </select>
                                                <mat-hint style="color:red; font-size: 75%" *ngIf="control.hasError" align="start">{{control.errorText}}</mat-hint>

                                            </div>

                                        </div>
                                        <div *ngIf="control.controlType == 'input'" class="col-12">
                                            <div class="col-12 col-md-5">
                                                <label class="form-check-label">
                                                    <span *ngIf="control.isRequired === true; else notRequired " class="required">{{control.label}}</span>
                                                    <ng-template #notRequired>{{control.label}}</ng-template>
                                                </label>
                                            </div>

                                            <div class="col-12 col-md-7 ">

                                                <mat-form-field class="full-width" appearance="outline">
                                                    <mat-label>{{control.placeholderText}}</mat-label>
                                                    <input matInput [(ngModel)]=control.selectedValue type="text" autocomplete="off">
                                                    <mat-hint style="color:red" *ngIf="control.hasError" align="start">{{control.errorText}}</mat-hint>
                                                </mat-form-field>
                                            </div>

                                        </div>
                                        <div *ngIf="control.controlType == 'text-info'" class="col-12">
                                            <!-- <div *ngIf="!control.valueFromOtherControl"> -->
                                                <div class="row mb-3">
                                                    <span class="col-12 col-md-4">
                                                        <span class="float-right">
                                                            {{control.label}}
                                                        </span>
                                                    </span>
                                                    <span class="col-12 col-md-8">
                                                        <span class="float-left">
                                                            <b> {{control.selectedValue}} </b>
                                                        </span>
                                                    </span>
                                                </div>
                                            <!-- </div> -->
                        

                                        </div>
                                        <div *ngIf="control.controlType == 'datePicker'" class="col-12">
                                            <div class="col-12 col-md-5">
                                                <label class="form-check-label">
                                                    <span *ngIf="control.isRequired === true; else notRequired " class="required">{{control.label}}</span>
                                                    <ng-template #notRequired>{{control.label}}</ng-template>
                                                </label>
                                            </div>

                                            <div class="col-12 col-md-7 ">

                                                <mat-form-field class="full-width" appearance="outline">
                                                    <mat-label>{{control.placeholderText}}</mat-label>
                                                    <input [matDatepicker]="picker" matInput [(ngModel)]="control.selectedValue" (click)="picker.open()" autocomplete="off">
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>

                                                    <mat-hint style="color:red" *ngIf="control.hasError" align="start">{{control.errorText}}</mat-hint>
                                                </mat-form-field>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" class="btn-primary btn btn-sm float-right" (click)="addTab()">
                    <b> <i class="fas fa-plus mr-2"></i> </b> Add Tab
                </button>
            </div>

        </div>
    </div>


    <div class="col-4 border-right control-list-bg">
        <div class="" *ngIf="item !== null">
            <div class="control-list-header"> Properties</div>
            <!-- <div class="col-12">		 -->
            <!-- <mat-form-field class="full-width"> -->
            <div class="row mb-2">
                <div class="col-12 col-md-4 label-box-properties">
                    Control ID
                </div>
                <div class="col-12 col-md-8">
                    <input placeholder="Control ID" class="form-control" [(ngModel)]=item.controlID>
                </div>

            </div>
            <!-- </mat-form-field >   -->

            <div *ngIf="item.controlType==='tab'" class="row">
                <!-- <mat-form-field class="full-width"> -->
                <!-- <input matInput placeholder="Tab ID"  [(ngModel)]= item.tabID> -->
                <div class="col-12 col-md-4 label-box-properties">
                    Tab ID
                </div>
                <div class="col-12 col-md-8">
                    <input placeholder="Tab ID" class="form-control mb-2" [(ngModel)]=item.tabID>
                </div>
                <!-- </mat-form-field >    -->
                <!-- <mat-form-field class="full-width"> -->
                <div class="col-12 col-md-4 label-box-properties">
                    Tab Order
                </div>
                <div class="col-12 col-md-8">
                    <input placeholder="Tab Order" class="form-control mb-2" [(ngModel)]=item.tabOrder type="number">
                </div>
                <!-- <input matInput placeholder="Tab Order" [(ngModel)]= item.tabOrder type="number"> -->
                <!-- </mat-form-field>  -->
                <!-- <mat-form-field class="full-width"> -->
                <div class="col-12 col-md-4 label-box-properties">
                    Tab Name
                </div>
                <div class="col-12 col-md-8">
                    <input type="text" placeholder="Tab Name" [(ngModel)]=item.tabName class="form-control mb-2">
                </div>
                <div class="col-12 col-md-4 label-box-properties">
                    Previous button label
                </div>
                <div class="col-12 col-md-8">
                    <input type="text" placeholder="Previous Button Label" [(ngModel)]=item.previousButtonLabel class="form-control mb-2">
                </div>
                <div class="col-12 col-md-4 label-box-properties">
                    Next button label
                </div>
                <div class="col-12 col-md-8">
                    <input type="text" placeholder="Next Button Label" [(ngModel)]=item.nextButtonLabel class="form-control mb-2">
                </div>
                <span class="col-12 col-md-4 label-box-properties">
                    Submit
                </span>
                <span class="col-12 col-md-8">
                    <span class="mr-5">
                        <div class="form-check form-check-inline">
                            <input type="radio" [name]=i+item.controlID+i [(ngModel)]=item.submit [value]="true">
                            <label class="form-check-label label-box-properties">
                                True
                            </label>
                        </div>

                    </span>
                    <!-- [name] ="item.controlID" -->
                    <span class="">
                        <div class="form-check form-check-inline">
                            <input type="radio" [name]=i+item.controlID+i [(ngModel)]=item.submit [value]="false">
                            <label class="form-check-label label-box-properties">
                                False
                            </label>
                        </div>
                    </span>
                </span>
                <!-- </mat-form-field> -->
            </div>

            <div *ngIf=" item.controlType !=='tab'">
                <div *ngIf="item.controlType !== 'label'" class="row mb-2">
                    <div class="col-12 col-md-4 label-box-properties">
                        Selected Value
                    </div>
                    <div class="col-12 col-md-8">
                        <input placeholder="Selected Value" [(ngModel)]=item.selectedValue class="form-control">
                    </div>
                    <!-- <input matInput placeholder="Selected Value" [(ngModel)]= item.selectedValue> -->
                </div>

                <!-- <mat-form-field class="full-width" > -->
                <div class="row mb-2">
                    <div class="col-12 col-md-4 label-box-properties">
                        Label
                    </div>
                    <div class="col-12 col-md-8">
                        <input placeholder="Label" [(ngModel)]=item.label class="form-control">
                    </div>
                </div>
                <!-- </mat-form-field> -->

                <div class="full-width" *ngIf="item.controlType !== 'label' && item.controlType !== 'text-info' && item.controlType !== 'checkbox'" class="row mb-2">
                    <div class="col-12 col-md-4 label-box-properties">
                        Tooltip Text
                    </div>
                    <div class="col-12 col-md-8">
                        <input placeholder="Tooltip Text" [(ngModel)]=item.toolTipText class="form-control">
                    </div>
                    <!-- </div> -->
                    <!-- <input matInput placeholder="Tooltip Text" [(ngModel)]= item.toolTipText> -->
                </div>

                <span class="row mb-2" *ngIf="item.controlType !== 'label' && item.controlType !== 'text-info'">
                    <span class="col-12 col-md-4 label-box-properties">
                        Is Required?
                    </span>
                    <span class="col-12 col-md-8">
                        <span class="mr-5">
                            <div class="form-check form-check-inline">
                                <input type="radio" [name]=i+item.controlID+i [(ngModel)]=item.isRequired [value]="true">
                                <label class="form-check-label label-box-properties">
                                    True
                                </label>
                            </div>

                        </span>
                        <!-- [name] ="item.controlID" -->
                        <span class="">
                            <div class="form-check form-check-inline">
                                <input type="radio" [name]=i+item.controlID+i [(ngModel)]=item.isRequired [value]="false">
                                <label class="form-check-label label-box-properties">
                                    False
                                </label>
                            </div>
                        </span>
                    </span>
                </span>

                <div class="full-width" *ngIf="item.controlType !== 'label' && item.controlType !== 'checkbox'
																   && item.controlType !== 'text-info'" class="row mb-2">
                    <div class="col-12 col-md-4 label-box-properties">
                        Error Text
                    </div>
                    <div class="col-12 col-md-8">
                        <input placeholder="Error Text" [(ngModel)]=item.errorText class="form-control">
                    </div>
                    <!-- <input matInput placeholder="Error Text" [(ngModel)]= item.errorText> -->
                </div>

                <div *ngIf="item.controlType !== 'label' && item.controlType !== 'checkbox'
							&& item.controlType !== 'text-info'" class="row mb-2">

                    <div class="col-12 col-md-4 label-box-properties">
                        Placeholder Text
                    </div>
                    <div class="col-12 col-md-8">
                        <input placeholder="Placeholder Text" [(ngModel)]=item.placeholderText class="form-control">
                    </div>
                    <!-- <input matInput placeholder="Placeholder Text" [(ngModel)]= item.placeholderText> -->
                </div>

                <span class="row mb-2" *ngIf="item.controlType !== 'label' && item.controlType !== 'checkbox'
												&& item.controlType !== 'text-info'  ">
                    <span class="col-12 col-md-4 label-box-properties">
                        Has Error
                    </span>
                    <span class="col-12 col-md-8">
                        <span class="mr-5">
                            <div class="form-check form-check-inline">
                                <input type="radio" [name]=i+item.controlID+i+i [(ngModel)]=item.hasError [value]="true">
                                <label class="form-check-label label-box-properties">
                                    True
                                </label>
                            </div>
                        </span>

                        <span class="mr-5">
                            <div class="form-check form-check-inline">
                                <input type="radio" [name]=i+item.controlID+i+i [(ngModel)]=item.hasError [value]="false">
                                <label class="form-check-label label-box-properties">
                                    False
                                </label>
                            </div>
                        </span>
                    </span>
                </span>
                <span class="row mb-2" *ngIf="item.controlType !== 'label' && item.controlType !== 'checkbox'
												&& item.controlType !== 'text-info' && item.controlType !== 'radiobuttonOnChange' 
												&& item.controlType !== 'select' && item.controlType !== 'radiobutton'">
                    <span class="col-12 col-md-4 label-box-properties">
                        Is Hidden?
                    </span>
                    <span class="col-12 col-md-8">
                        <span class="mr-5">
                            <div class="form-check form-check-inline">
                                <input type="radio" [name]=item.controlID+i [(ngModel)]=item.isHidden [value]="true">
                                <label class="form-check-label label-box-properties">
                                    True
                                </label>
                            </div>
                        </span>

                        <span class="mr-5">
                            <div class="form-check form-check-inline">
                                <input type="radio" [name]=item.controlID+i [(ngModel)]=item.isHidden [value]="false">
                                <label class="form-check-label label-box-properties">
                                    False
                                </label>
                            </div>
                        </span>
                    </span>
                </span>
                <div *ngIf="item.controlType == 'autoComplete'" class="row mb-2">

                    <div class="col-12 col-md-4 label-box-properties">
                        Expected Parents Value
                    </div>
                    <div class="col-12 col-md-8">
                        <input placeholder="Enter Parents Value" [(ngModel)]=item.expectedParentsValue class="form-control">
                    </div>
                    <!-- <input matInput placeholder="Placeholder Text" [(ngModel)]= item.placeholderText> -->
                </div>


                <span class="row mb-2" *ngIf="item.controlType == 'text-info'">
                    <span class="col-12 col-md-5 label-box-properties">
                        Has Dependency
                    </span> 
                    <span class="col-12 col-md-7">
                        <span class="mr-5">
                            <div class="form-check form-check-inline">
                                <input type="radio" [name]=i+item.controlID+i+i+i [(ngModel)]=item.valueFromOtherControl [value]="true">
                                <label class="form-check-label label-box-properties">
                                    True
                                </label>
                            </div>
                        </span>

                        <span class="mr-5">
                            <div class="form-check form-check-inline">
                                <input type="radio" [name]=i+item.controlID+i+i+i [(ngModel)]=item.valueFromOtherControl [value]="false">
                                <label class="form-check-label label-box-properties">
                                    False
                                </label>
                            </div>
                        </span>
                    </span>

                    <div class="row mb-2">

                        <div class="col-12 col-md-4 label-box-properties">
                            <span class=" label-box-properties ml-3">Other control ID </span>
                        </div>
                        <div class="col-12 col-md-8">
                            <input placeholder="Other Control ID" [(ngModel)]=item.otherControlID class="form-control">
                        </div>
                    </div>
                </span>


                <div class="row mb-2" *ngIf="item.controlType ==='autoComplete' || item.controlType ==='select'">

                    <div class="col-12 col-md-4 label-box-properties">
                        Service Method Name
                    </div>
                    <div class="col-12 col-md-8">
                        <input placeholder="Service Method Name" [(ngModel)]=item.serviceMethodName class="form-control">
                    </div>
                </div>
                <span class="row mb-2" *ngIf="item.controlType == 'select' || item.controlType == 'radiobutton' ">
                    <span class="col-12 col-md-4 label-box-properties">
                        On Change
                    </span>
                    <span class="col-12 col-md-8">
                        <span class="mr-5">
                            <div class="form-check form-check-inline">
                                <input type="radio" [name]=i+i+item.controlID+i+i+i [(ngModel)]=item.onChange [value]="true">
                                <label class="form-check-label label-box-properties">
                                    True
                                </label>
                            </div>
                        </span>

                        <span class="mr-5">
                            <div class="form-check form-check-inline">
                                <input type="radio" [name]=i+i+item.controlID+i+i+i [(ngModel)]=item.onChange [value]="false">
                                <label class="form-check-label label-box-properties">
                                    False
                                </label>
                            </div>
                        </span>
                    </span>
                </span>
                <span class="row mb-2" *ngIf="item.controlType == 'select' || item.controlType == 'autoComplete'">
                    <span class="col-12 col-md-4 label-box-properties">
                        Onit Service Call
                    </span>
                    <span class="col-12 col-md-8">
                        <span class="mr-5">
                            <div class="form-check form-check-inline">
                                <input type="radio" [name]=i+i+item.controlID+i+i+i+i [(ngModel)]=item.onitServiceCall [value]="true">
                                <label class="form-check-label label-box-properties">
                                    True
                                </label>
                            </div>
                        </span>

                        <span class="mr-5">
                            <div class="form-check form-check-inline">
                                <input type="radio" [name]=i+i+item.controlID+i+i+i+i [(ngModel)]=item.onitServiceCall [value]="false">
                                <label class="form-check-label label-box-properties">
                                    False
                                </label>
                            </div>
                        </span>
                    </span>
                </span>
                <!--<span class="" *ngIf="item.controlType !== 'radio' && item.controlType !== 'checkbox'
         && item.controlType !== 'text-info' && item.controlType !== 'input'
         && item.controlType !== 'datapicker'">-->
                <span class="" *ngIf="item.controlType === 'select' || item.controlType === 'autoComplete'">
                    <div class="row mb-2">
                        <span class="label-box-properties mr-5 ml-3">
                            Service Parameters
                        </span>
                        <span (click)=addOption(item.serviceParameters) class="label-box-properties">
                            <i class="fa fa-plus"></i>
                        </span>

                    </div>
                    <div *ngFor="let opt of item.serviceParameters, let i = index">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <!-- <mat-form-field class="full-width"> -->
                                <input class="form-control" placeholder="Parameter Name" [(ngModel)]=opt.text>
                                <!-- </mat-form-field >  -->
                            </div>
                            <div class="col-12 col-md-5">
                                <!-- <mat-form-field class="full-width"> -->
                                <input class="form-control" placeholder="Parameter Value" [(ngModel)]=opt.value>
                                <!-- </mat-form-field >	 -->
                            </div>
                            <div class="col-12 col-md-1">
                                <span (click)='deleteOption( item.serviceParameters, i)'>
                                    <i class="fas fa-trash mt-25"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <span class="label-box-properties mr-5 ml-3">
                            Parent Control IDs
                        </span>
                        <span>
                            <input class="form-control" placeholder="Parameter Name" [(ngModel)]=parentControlOpt>
                        </span>                           
                        <span (click)=addParent(item.parentcontrolIds) class="label-box-properties ml-3">
                            <i class="fa fa-plus"></i>
                        </span> 

                    </div>
                    <div *ngFor="let opt of item.parentcontrolIds, let i = index">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <!-- <mat-form-field class="full-width"> -->
                                <input class="form-control" placeholder="Parameter Name" [(ngModel)]=opt > 
                                <!-- </mat-form-field >  -->
                            </div>
                            <div class="col-12 col-md-1">
                                <span (click)='deleteParent( item.parentcontrolIds, i)'>
                                    <i class="fas fa-trash mt-25"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </span>
                <span class="" *ngIf="item.controlType == 'radiobutton' || item.controlType == 'radiobuttonOnChange' 
                                        || item.controlType == 'autoComplete' || item.controlType == 'select' ">

                    <div class="row mb-2">
                        <span class="label-box-properties mr-5 ml-3">
                            Options
                        </span>
                        <span (click)=addOption(item.options) class="label-box-properties">
                            <i class="fa fa-plus"></i>
                        </span>

                    </div>
                    <div *ngFor="let opt of item.options, let i = index">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <!-- <mat-form-field class="full-width"> -->
                                <input class="form-control" placeholder="Option Label" [(ngModel)]=opt.text>
                                <!-- </mat-form-field >  -->
                            </div>
                            <div class="col-12 col-md-5">
                                <!-- <mat-form-field class="full-width"> -->
                                <input class="form-control" placeholder="Option Value" [(ngModel)]=opt.value>
                                <!-- </mat-form-field >	 -->
                            </div>
                            <div class="col-12 col-md-1">
                                <span (click)='deleteOption( item.options, i)'>
                                    <i class="fas fa-trash mt-25"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
            <!-- </div> -->
        </div>
    </div>

</div>

<div *ngIf="preview == true">
    <div class="row p-2">
        <div class="col-3 col-md-3 col-sm-3  border-right pt-1 preview-control-list-bg">
            <div *ngFor='let tab of formData.tabList; let j = index'>
                <div (click)="tabOrder = j+1" class="preview-example-box">
                    <span *ngIf="tabOrder-1 === j; else notRequired " class="active-tab">{{tab.tabName}}</span>
                    <ng-template #notRequired>{{tab.tabName}}</ng-template>


                </div>
            </div>
        </div>
        <div class="col-9 col-md-9 col-sm-9">
            <div *ngFor='let form of formData.tabList; let i = index'>
                <div *ngIf='form.tabOrder == tabOrder'>
                    <div class="card">
                        <h5 class="card-header"> {{form.tabName}}</h5>
                        <div class="card-body">
                            <div *ngFor='let control of form.controlList' class="col-12">

                                <!--for input type control-->

                                <div *ngIf="control.controlType == 'conditionalInput' && control.isHidden === false" class="">
                                    <div class="col-12 col-md-12 ">
                                        <label class="form-check-label">
                                            <span *ngIf="control.isRequired === true; else notRequired " class="required">{{control.label}}</span>
                                            <ng-template #notRequired>{{control.label}}</ng-template>
                                        </label>
                                    </div>
                                    <div class="col-12 col-md-5 ">
                                        <mat-form-field class="full-width" appearance="outline">
                                            <mat-label>{{control.placeholderText}}</mat-label>
                                            <input matInput [(ngModel)]=control.selectedValue type="text" autocomplete="off">
                                            <mat-hint style="color:red" *ngIf="control.hasError" align="start">{{control.errorText}}</mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div *ngIf="control.controlType == 'input'" class="">
                                    <div class="col-12 col-md-12 ">
                                        <label class="form-check-label">
                                            <span *ngIf="control.isRequired === true; else notRequired " class="required">{{control.label}}</span>
                                            <ng-template #notRequired>{{control.label}}</ng-template>
                                        </label>
                                    </div>
                                    <div class="col-12 col-md-5 ">
                                        <mat-form-field class="full-width" appearance="outline">
                                            <mat-label>{{control.placeholderText}}</mat-label>
                                            <input matInput [(ngModel)]=control.selectedValue type="text" autocomplete="off">
                                            <mat-hint style="color:red" *ngIf="control.hasError" align="start">{{control.errorText}}</mat-hint>
                                        </mat-form-field>
                                    </div>


                                </div>

                                <!--for auto-complete type control-->
                                <div *ngIf="control.controlType == 'autoComplete' && control.isHidden === false" class="">
                                    <div class="col-12 col-md-12 ">
                                        <label class="form-check-label">
                                            <span *ngIf="control.isRequired === true; else notRequired " class="required">{{control.label}}</span>
                                            <ng-template #notRequired>{{control.label}}</ng-template>
                                        </label>
                                    </div>
                                    <div class="col-12 col-md-5 ">
                                        <mat-form-field class="full-width" appearance="outline">

                                            <mat-label>{{control.placeholderText}}</mat-label>
                                            <input matInput [(ngModel)]=control.selectedValue type="text" autocomplete="off">
                                            <mat-hint style="color:red" *ngIf="control.hasError" align="start">{{control.errorText}}</mat-hint>
                                        </mat-form-field>
                                    </div>

                                </div>

                                <!--for data-picker type control-->
                                <div *ngIf="control.controlType == 'datePicker'" class="">
                                    <div class="col-12 col-md-12 ">
                                        <label class="form-check-label">
                                            <span *ngIf="control.isRequired === true; else notRequired " class="required">{{control.label}}</span>
                                            <ng-template #notRequired>{{control.label}}</ng-template>
                                        </label>
                                    </div>
                                    <div class="col-12 col-md-5 ">

                                        <mat-form-field class="full-width" appearance="outline">
                                            <mat-label>{{control.placeholderText}}</mat-label>
                                            <input [matDatepicker]="picker" matInput [(ngModel)]="control.selectedValue" (click)="picker.open()" autocomplete="off">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>

                                            <mat-hint style="color:red" *ngIf="control.hasError" align="start">{{control.errorText}}</mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <!--for select type control-->
                                <div *ngIf="control.controlType == 'select'" class="mb-3">
                                    <div *ngIf="control.onChange && control.hasChild" class="">

                                        <div class="col-12 col-md-12 ">
                                            <label class="form-check-label">
                                                <span *ngIf="control.isRequired === true; else notRequired " class="required">{{control.label}}</span>
                                                <ng-template #notRequired>{{control.label}}</ng-template>
                                            </label>
                                        </div>
                                        <div class="col-12 col-md-5 ">

                                            <select name="" id="" class="form-control" [(ngModel)]=control.selectedValue (change)="getChildList(form)">
                                                <option *ngFor='let option of control.options' [value]=option.value>{{option.text}}</option>
                                            </select>
                                            <mat-hint style="color:red; font-size: 75%" *ngIf="control.hasError" align="start">{{control.errorText}}</mat-hint>
                                        </div>

                                    </div>

                                    <div *ngIf="control.hasParent && !control.hasChild" class="">
                                        <div class="col-12 col-md-12 ">
                                            <label class="form-check-label">
                                                <span *ngIf="control.isRequired === true; else notRequired " class="required">{{control.label}}</span>
                                                <ng-template #notRequired>{{control.label}}</ng-template>
                                            </label>
                                        </div>
                                        <div class="col-12 col-md-5 ">

                                            <select name="" id="" class="form-control" [(ngModel)]=control.selectedValue>
                                                <option *ngFor='let option of control.options' [value]=option.value>{{option.text}}</option>
                                            </select>
                                            <mat-hint style="color:red; font-size: 75%" *ngIf="control.hasError" align="start">{{control.errorText}}</mat-hint>
                                        </div>
                                    </div>
                                    <div *ngIf="control.onChange == false" class="">
                                        <div class="col-12 col-md-12 ">
                                            <label class="form-check-label">
                                                <span *ngIf="control.isRequired === true; else notRequired " class="required">{{control.label}}</span>
                                                <ng-template #notRequired>{{control.label}}</ng-template>
                                            </label>
                                        </div>
                                        <div class="col-12 col-md-5 ">
                                            <select name="" id="" class="form-control" [(ngModel)]=control.selectedValue>
                                                <option *ngFor='let option of control.options' [value]=option.value>{{option.text}}</option>
                                            </select>
                                            <mat-hint style="color:red; font-size: 75%" *ngIf="control.hasError" align="start">{{control.errorText}}</mat-hint>
                                        </div>
                                    </div>
                                </div>

                                <!--for radion button type control-->
                                <div *ngIf="control.controlType == 'radiobutton'" class="mb-3">
                                    <div class="col-12 col-md-12 ">
                                        <label class="form-check-label">
                                            <span *ngIf="control.isRequired === true; else notRequired " class="required">{{control.label}}</span>
                                            <ng-template #notRequired>{{control.label}}</ng-template>
                                        </label>
                                    </div>
                                    <div class="col-12 col-md-5 ">

                                        <span *ngFor='let option of control.options'>
                                            <span class="mr-5">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" [name]=control.label type="radio" [(ngModel)]="control.selectedValue" [value]="option.value">
                                                    <label class="form-check-label">
                                                        {{option.text}}
                                                    </label>
                                                </div>
                                            </span>
                                        </span>
                                        <mat-hint style="color:red;font-size: 75%" *ngIf="control.hasError" align="start">{{control.errorText}}</mat-hint>
                                    </div>
                                </div>

                                <!--for radiobuttinOnChange type control-->
                                <div *ngIf="control.controlType == 'radiobuttonOnChange'" class="mb-3">
                                    <div class="col-12 col-md-11 ">
                                        <label class="form-check-label">
                                            <span *ngIf="control.isRequired === true; else notRequired " class="required">{{control.label}}</span>
                                            <ng-template #notRequired>{{control.label}}</ng-template>
                                        </label>
                                    </div>
                                    <div class="col-12 col-md-12 ">
                                        <span *ngFor='let option of control.options'>
                                            <span class="mr-5">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" [name]=control.label type="radio" [(ngModel)]="control.selectedValue" [value]="option.value" (click)="controlIsHidden(form)">
                                                    <label class="form-check-label">
                                                        {{option.text}}
                                                    </label>
                                                </div>
                                            </span>
                                        </span>
                                        <mat-hint style="color:red;font-size: 75%" *ngIf="control.hasError" align="start">{{control.errorText}}</mat-hint>
                                    </div>
                                </div>

                                <!--for label type control-->
                                <div *ngIf="control.controlType == 'label'" class="">

                                    <div> {{control.label}}  </div>

                                </div>

                                <!--for check box type control-->
                                <div *ngIf="control.controlType == 'checkbox'" class="">

                                    <!-- <span class="col-3"> <b> {{control.label}} </b></span> -->
                                    <!-- <span *ngFor = 'let option of control.option' class="col-9"> -->
                                    <span class="mr-5">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" [(ngModel)]='control.selectedValue' type="checkbox">
                                            <label class="form-check-label">
                                                <span *ngIf="control.isRequired === true; else notRequired " class="required">{{control.label}}</span>
                                                <ng-template #notRequired>{{control.label}}</ng-template>
                                            </label>
                                        </div>
                                    </span>
                                    <!-- </span> -->

                                </div>

                                <!--for button type control-->
                                <div *ngIf="control.controlType == 'button'">
                                    <div class="float-right form-check form-check-inline" style="">
                                        <button class="btn btn-sm btn-primary" style="display: inline-block; ">{{control.label}}</button>
                                    </div>
                                </div>

                                <!--for text-info type control and valueFromother Control-->
                                <div *ngIf="control.controlType == 'text-info'">
                                    <div *ngIf="control.valueFromOtherControl === true">
                                        <div class="row mb-3">
                                            <span class="col-12 col-md-4">
                                                <span class="float-right">
                                                    {{control.label}}
                                                </span>
                                            </span>
                                            <span class="col-12 col-md-8">
                                                <span class="float-left">
                                                    <b> {{valueFromOtherControl(control)}} </b>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <!--for text-info type control-->
                                <div *ngIf="control.controlType == 'text-info'">
                                    <div *ngIf="!control.valueFromOtherControl">
                                        <div class="row mb-3">
                                            <span class="col-12 col-md-4">
                                                <span class="float-right">
                                                    {{control.label}}
                                                </span>
                                            </span>
                                            <span class="col-12 col-md-8">
                                                <span class="float-left">
                                                    <b> {{control.selectedValue}} </b>
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="mt-1">
                        <div class="button-panel">
                            <button type="button" *ngIf="form.previousButtonLabel" class="btn btn-primary btn-sm float-left ripple" (click)='procedeToPreviousTab()'>
                                {{form.previousButtonLabel}}
                            </button>
                            <button type="button" *ngIf="form.nextButtonLabel" class="btn btn-primary btn-sm float-right ripple" (click)='procedeToNextTab(form)'>
                                {{form.nextButtonLabel}}
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>