  .mat-row:nth-child(odd) {
    background-color:#eee;
  }
  .mat-row:nth-child(even) {
    background-color:#fff;
  }
  /* .mat-cell:first-of-type{
    justify-content: left !important
  } */
  /* mat-cell:last-of-type{
    padding-right: 5px !important
  }  */
  
  .mat-table {
    overflow: auto;
    /* max-height: 500px; */
  }
  
  .mobile-label, .button-mobile-label {
    display: none;
  }
  .width-14{
    width: 12%
  }
   @media(max-width: 768px) {
    .mobile-label {
      width: 150px;
      display: inline-block;
      font-weight: bold;
      text-align: right;
      margin-right: 5px;
    }
    .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 5px 5px;
      min-height: auto !important;
      border-style: solid !important;
  }
    .mat-header-row {
      display: none;
    }
  
    .width-14{
      width: 100% !important;
    }
  
    .result-table [class*="col-"] {
      padding: 0px ;
    }
  
    .type-sub-work-Bg{
      width: 100% !important;
    }
    [class*="col-"] {
      width: 100% !important
    }
  } 
  
  @media(max-width: 600px) {
    .mobile-label {
      width: 150px;
      display: inline-block;
      font-weight: bold;
    }
     .button-label{
      display: none
    }
    .button-mobile-label{
      display: inline;
    }
    .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 5px 5px;
      min-height: auto !important;
      border-style: solid !important;
  }
    .mat-header-row {
      display: none;
    }
  
    .width-14{
      width: 100% !important;
    }
  
    .result-table [class*="col-"] {
      padding: 0px ;
    }
  
    .type-sub-work-Bg{
      width: 100% !important;
    }
  }
  