
<div class="alert alert-primary" role="alert">
    <b>
       Please review your current license.
    </b>    
  </div>
  <div class="card mb-1" >
    <h5 class="card-header">Current License</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-md-2 col-2">        
          <span class="mobile-label"><i class="fas fa-calendar-check"></i></span>
          <span class="label">  Registration Number : </span>
        </div>
        <div class="col-md-10 col-10">
          <b>{{currentLicense.regNo}}</b>
        </div>
        <div class="col-md-2 col-2">        
          <span class="mobile-label"><i class="fas fa-calendar-check"></i></span>
          <span class="label"> License Owner :</span>       
        </div>
        <div class="col-md-10 col-10">
          <b>{{currentLicense.regNo}}</b>
        </div>
        <div class="col-md-2 col-2">        
          <span class="mobile-label"><i class="fas fa-calendar-check"></i></span>
          <span class="label"> License Type :</span>
         
        </div>
        <div class="col-md-10 col-10">
          <b>{{currentLicense.regNo}}</b>
        </div>
        <div class="col-md-2 col-2">        
          <span class="mobile-label"><i class="fas fa-calendar-check"></i></span>
          <span class="label"> Indate :</span>
        </div>
        <div class="col-md-10 col-10">
          <b>{{currentLicense.regNo}}</b>
        </div>
        <div class="col-md-2 col-2">        
          <span class="mobile-label"><i class="fas fa-calendar-check"></i></span>
          <span class="label"> Issue Date :</span>
        </div>
        <div class="col-md-10 col-10">
          <b>{{currentLicense.regNo}}</b>
        </div>
        <div class="col-md-2 col-2">        
          <span class="mobile-label"><i class="fas fa-calendar-check"></i></span>
          <span class="label"> Expiry Date :</span>
        </div>
        <div class="col-md-10 col-10">
          <b>{{currentLicense.regNo}}</b>
        </div>
        <div class="col-md-2 col-2">        
          <span class="mobile-label"><i class="fas fa-calendar-check"></i></span>
          <span class="label"> Status :</span>
        </div>
        <div class="col-md-10 col-10">
          <b>{{currentLicense.regNo}}</b>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
        <div class="mb-2"> 
          <button class="btn btn-primary ripple btn-sm float-right">
            <span class="button-mobile-label"><i class="fas fa-arrow-left"></i></span>
            <span class="button-label"> Back to Member Information</span> 
          </button>
        </div>
  
    </div>
  </div>
  
  
  <div class="card mb-2 mt-2" >
      <h5 class="card-header">Additional Information</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
              <b>  Trade's License </b>         
              <hr>
          </div>
          <div *ngIf="isUpdateInfo == false" style="width: 100%">
            <div class="col-md-2 col-2">        
              <span class="mobile-label"><i class="fas fa-calendar-check"></i></span>
              <span class="label">  Registration Number : </span>
            </div>
            <div class="col-md-10 col-10">
              <b>{{currentLicense.regNo}}</b>
            </div>
            <div class="col-md-2 col-2">        
              <span class="mobile-label"><i class="fas fa-calendar-check"></i></span>
              <span class="label"> License Owner :</span>       
            </div>
            <div class="col-md-10 col-10">
              <b>{{currentLicense.regNo}}</b>
            </div>
            <div class="col-md-2 col-2">        
              <span class="mobile-label"><i class="fas fa-calendar-check"></i></span>
              <span class="label"> License Type :</span>
             
            </div>
            <div class="col-md-10 col-10">
              <b>{{currentLicense.regNo}}</b>
            </div>
            <div class="col-md-2 col-2">        
              <span class="mobile-label"><i class="fas fa-calendar-check"></i></span>
              <span class="label"> Indate :</span>
            </div>
            <div class="col-md-10 col-10">
              <b>{{currentLicense.regNo}}</b>
            </div>
            <div class="col-md-2 col-2">        
              <span class="mobile-label"><i class="fas fa-calendar-check"></i></span>
              <span class="label"> Issue Date :</span>
            </div>
            <div class="col-md-10 col-10">
              <b>{{currentLicense.regNo}}</b>
            </div>
            <div class="col-md-2 col-2">        
              <span class="mobile-label"><i class="fas fa-calendar-check"></i></span>
              <span class="label"> Expiry Date :</span>
            </div>
            <div class="col-md-10 col-10">
              <b>{{currentLicense.regNo}}</b>
            </div>
            <div class="col-md-2 col-2">        
              <span class="mobile-label"><i class="fas fa-calendar-check"></i></span>
              <span class="label"> Status :</span>
            </div>
            <div class="col-md-10 col-10">
              <b>{{currentLicense.regNo}}</b>
            </div>
  
          </div>
  
          <div *ngIf="isUpdateInfo == true" style="width: 100%">
  
          </div>
        </div>
      </div>
      <div class="col-12">
        <hr>
        <button class="btn btn-primary ripple btn-sm float-right" *ngIf="isUpdateInfo == false">
          <span class="button-mobile-label"><i class="fas fa-edit"></i></span>
          <span class="button-label"> Edit</span> 
        </button>
        <button class="btn btn-primary ripple btn-sm float-right" *ngIf="isUpdateInfo == true">
          <span class="button-mobile-label"><i class="fas fa-edit"></i></span>
          <span class="button-label"> Save Additional Info</span> 
        </button>
      </div>
    <div class="col-12">
      <div class="mb-2 mt-2"> </div>
    </div>
  </div>
  
  <div class="card mb-1" >
    <h5 class="card-header">Payment Details</h5>
    <div class="card-body">
        Outstanding Balance: $0.00
    </div>
  </div>
  
  <div class="card mb-1" >
      <h5 class="card-header">Current Documents / Drawings</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            You have not attached any Documents / Drawings to this application
  
          </div>
  
          
          <div class="col-12">
              <hr>
              <button class="btn btn-primary ripple btn-sm float-right">
                <span class="button-mobile-label"><i class="fas fa-pen"></i></span>
                <span class="button-label"> Add</span> 
              </button>
            </div>
          <div class="col-12">
            <div class="mb-2 mt-2"> </div>
          </div>
        </div>
      </div>
    </div>