.container-fluid{
    padding: 20px
}
.main-container{
  min-height: 480px;
 -webkit-box-shadow: 2px 8px 20px 4px rgba(212,212,212,1);
 -moz-box-shadow: 2px 8px 20px 4px rgba(212,212,212,1);
  box-shadow: 2px 8px 20px 4px rgba(212,212,212,1);
  margin-top: 85px;
}
.main-content{
    background: white;
    padding: 0px 15px 30px 15px;
    /* padding: 15px; */

}