.search-properties-content {
    border: 1px solid #E7E7E7;
}
.search-properties-content h5{
    background: #EDEDEE;
    padding: 10px;
}
.search-properties-content p{
    padding: 0 10px;
    text-align: justify;
}

.result-body{
    min-height: 120px;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; */
    display: table-cell; 
    vertical-align: middle;
    padding:5px;
  }
  
.result-body p {
    text-align: left
}

.result-body button{
    width: 90px !important;
    margin-top: 10px;
}

.table hr{
    margin: 0px !important
}

.result-table td.mat-cell{
    border-style: none !important;
}

td.mat-cell:last-of-type{
    padding-right: 5px !important
}
td.mat-cell:first-of-type{
    padding-left: 5px !important;

}
table.mat-table {
    border-spacing: 0;
    padding: 5px;
}