
  <div>
    <div class="card" >
      <h5 class="card-header"> Login</h5>
      <div class="card-body"> 
        <div class="alert alert-danger" >
          You are going to Logout. Are you Sure?
        </div>

        <div class="row">
                <div class="col-6">
                    <button class="btn btn-primary float-right btn-sm ripple" (click)="cancel()">
                      Cancel
                    </button>
                </div>
                <div class="col-6">
                    <button class="btn btn-primary float-left btn-sm ripple" (click)="logout()">
                      Logout
                    </button>
                </div>
          </div>
      </div>
    </div>  
  </div>