@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  background:#E7E7E7;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}
button{
  border: none !important
}
p{
  margin: 5px !important
}
.button-panel{
  color: white;
}
.btn a{
  text-decoration: none;
  color: white
}
@media only screen and (max-width: 600px) {
    .navbar {
      background: rgb(24, 24, 54);
      font-size: 20px;
      color: white;
    }
    .navbar-nav-link{
        color: white;
        font-size: 20px;
        padding: .5rem 1rem;
       
    }

    .vertical-menu{
      font-size: 12px;
    }
  }

