@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background:#E7E7E7;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
::placeholder {
  color: #999 !important;
  font-size: 14px
}
.ng-placeholder{
  font-size: 14px !important
}
.form-control{
  font-size:14px !important;
  color: #212529 !important
}
.card-body{
  padding: .7rem !important
}

.card-header {
  padding: .4rem .7rem !important
}

button{
  border: none !important
}
p{
  margin: 5px !important
}
.button-panel{
  color: white;
}
.btn a{
  text-decoration: none;
  color: white
}
.text-red{
  color: #F4000B;
}

.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 103%;
  background-color: #acd8ec;
  border-radius: 2px;
  background-clip: padding-box;
  margin-top: -15px;
  margin-bottom: 10px;
  margin-left: -16px;
  /* margin: 0.5rem 0 1rem 0; */
  /* overflow: hidden;  */
}
  .progress .indeterminate {
    background-color: #228CEC; 
  }
  .progress .indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
            animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; 
  }
  .progress .indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
            animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
            animation-delay: 1.15s; 
  }

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@media only screen and (max-width: 600px) {
    .navbar {
      background: rgb(24, 24, 54);
      font-size: 20px;
      color: white;
    }
    .navbar-nav-link{
        color: white;
        font-size: 20px;
        padding: .5rem 1rem;
       
    }

    .vertical-menu{
      font-size: 12px;
    }
  }

