
  <div>
    <h5> <b> Online Permits </b> </h5>
    <div class="card" >
      <h5 class="card-header"> Update Password </h5>
      <div class="card-body">  
        <form [formGroup] = "UpdatePassword">
          <div class="row form-panel mt-2">
            <div class="col-12 col-md-4 "> 
              <mat-form-field class="full-width" appearance="outline">
                <mat-label class="test2">Current Password</mat-label>
                <input matInput placeholder="" formControlName = 'oldPassword' type="password">
              </mat-form-field>
            </div> 
          </div>
            <div class="row">
              <div class="col-12 col-md-4 "> 
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label class="test2">New Password</mat-label>
                  <input matInput placeholder="" formControlName = 'internetPassword' type="password">
                </mat-form-field>
              </div>

            </div>
            <div class="row">
              <div class="col-12 col-md-4 " > 
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label class="test2">Confirm new Password</mat-label>
                  <input matInput placeholder="" formControlName = 'retypePassword' type="password">
                </mat-form-field>
              </div>

            </div>
            <div class="row">
              <div class="col-12 col-md-4">
                <div class="button-panel">
                    <button class="btn btn-primary btn-sm float-right ripple" (click)="updatePeopleInternetPassword()">
                      Update Password
                    </button>
                </div>
              </div>
            </div>
         
        </form>
      </div>
    </div>
  </div>