<div >
  <div  *ngFor = 'let form of formJson; let i = index'>
    <div  *ngIf = 'form.taborder == tabOrder' >
      <div class="card">
          <h5 class="card-header"> {{form.tabname}}</h5>

          <div class="card-body">
          <div *ngFor = 'let control of form.controls' class="col-12">         
            <div *ngIf = "control.controltype == 'input'">
              <div class="col-12 col-md-4 "> 
                <mat-form-field class="full-width">
                  <input matInput [placeholder]=control.label [(ngModel)] = control.selectedvalue type="text"  autocomplete="off">
                </mat-form-field>
              </div>
            </div>
            <div *ngIf = "control.controltype == 'datePicker'">
                <div class="col-12 col-md-4 "> 
                  <mat-form-field class="full-width">
                      <input matInput [matDatepicker]="picker" [placeholder]=control.label (click)="picker.open()" autocomplete="off">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            <div *ngIf = "control.controltype == 'select'">
              <div class="col-12 col-md-4 "> 
                <!-- <mat-form-field class="full-width">
                  <input matInput [placeholder]=control.label type="text">
                </mat-form-field> -->
                <div *ngIf="control.onChange && control.hasChild">
                  
                  <label class=""> <b> {{control.label}} </b></label>
                  <select name="" id="" class="form-control" [(ngModel)]=control.selectedvalue (change)="getChildList(control, form)" >
                    <option *ngFor = 'let option of control.options'  [value]=option.value>{{option.text}}</option>
                  </select>

                  <div class="mt-1" *ngIf="control.hasError">
                    <b>This is required</b>
                  </div>
                  
                </div>
                
                <div *ngIf="control.hasParent && !control.hasChild">
                    <label class=""> <b> {{control.label}} </b></label>
                    <select name="" id="" class="form-control"  [(ngModel)]=control.selectedvalue >
                      <option *ngFor = 'let option of control.options' [value]=option.value>{{option.text}}</option>
                    </select>

                    <div class="mt-1" *ngIf="control.hasError">
                      <b>This is required</b>
                    </div>
                  </div>
                <div *ngIf="control.onChange == false">
                  <label class=""> <b> {{control.label}} </b></label>
                  <select name="" id="" class="form-control"  [(ngModel)]=control.selectedvalue >
                    <option *ngFor = 'let option of control.options' [value]=option.value>{{option.text}}</option>
                  </select>

                  <div class="mt-1" *ngIf="control.hasError">
                    <b>This is required</b>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf = "control.controltype == 'radiobutton'">
                <label class="form-check-label mr-5"  >
                    <span [innerHTML] = control.label></span>
                </label>
              <span *ngFor = 'let option of control.options'>
                <span class="mr-5">     
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" [name]=control.label type="radio" [(ngModel)] = "control.selectedvalue" [value]="option.value">
                    <label class="form-check-label">
                      {{option.text}}
                    </label>
                  </div>
                </span>
              </span>
            </div>
            
            <div *ngIf = "control.controltype == 'label'">
              <label class="form-check-label"  >
                <span [innerHTML] = control.label></span>
              </label>
            </div>
            <div *ngIf = "control.controltype == 'checkbox'">
              <!-- <span class="col-3"> <b> {{control.label}} </b></span> -->
              <!-- <span *ngFor = 'let option of control.option' class="col-9"> -->
                <span class="mr-5">     
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" [(ngModel)] = 'control.selectedvalue' type="checkbox" >
                    <label class="form-check-label"  >
                      <span [innerHTML] = control.label></span>
                    </label>
                  </div>
                </span>
                <!-- </span> -->
  
            </div>
            <div *ngIf = "control.controltype == 'button'">
              <div class="float-right form-check form-check-inline" style="">
                <button class="btn btn-sm btn-primary" style="display: inline-block; ">{{control.label}}</button>
              </div>
            </div>
            
            <div *ngIf = "control.controltype == 'text-info'">
              <div class="row">
                  <span class="col-12 col-md-3" >
                    <span class="float-right">
                        {{control.label}}
                    </span>
                  </span>
                  <span class="col-12 col-md-9">
                    <span class="float-left">
                        <b>
                          {{control.selectedvalue}}
                        </b>

                    </span>
                  </span>

              </div>
            </div>
  
          </div>
  
        </div>
      
      </div>
      <div class="mt-1">
        <div class="button-panel">
            <button class="btn btn-primary btn-sm float-left ripple" (click)='procedeToPreviousTab()'>
              {{form.previousbuttonlabel}}
            </button>
            <button class="btn btn-primary btn-sm float-right ripple" (click)='procedeToNextTab(form)'>
              {{form.nextbuttonlabel}}
            </button>
        </div>
      </div>
       
    </div>
  </div>
</div>